# Coverage isn't really compatible with subprocesses so results are unreliable

[run]
branch = True
#concurrency = multiprocessing
source = ocrmypdf/

[report]
exclude_lines =
	pragma: no cover
	def __repr__
	raise AssertionError
	raise NotImplementedError
	if 0:
	if False:
	if __name__ == .__main__.:
