[paths]
source =
	src
	*/site-packages

[run]
branch = true
parallel = true
concurrency =
	thread
	multiprocessing
source =
	src/ocrmypdf
omit =
	tests/spoof/*

[report]
exclude_lines =
	pragma: no cover
	def __repr__
	raise AssertionError
	raise NotImplementedError
	if 0:
	if False:
	if __name__ == .__main__.:
