check-manifest >= 0.35
twine >= 1.8.1
coverage >= 4.4
pytest-xdist >= 1.16.0
GitPython == 2.1.3

# Known good versions: 1.11.1
# Known broken versions: 1.15.0
setuptools-scm == 1.11.1
setuptools-scm-git-archive == 1.0
