# requirements
include requirements.txt
include test_requirements.txt
include dev_requirements.txt

# git
include .git_archival.txt

# docker
include Dockerfile
include Dockerfile.polyglot
include .dockerignore

# tests
include pytest.ini
recursive-include tests *.jpg
recursive-include tests *.png
recursive-include tests *.pdf
recursive-include tests *.py
recursive-include tests *.rst
recursive-include tests *.txt
recursive-exclude tests/output *
recursive-exclude tests/output_pageinfo *
recursive-exclude tests/resources/private *
recursive-exclude tests/cache *

# documentation
include *.rst
include pipeline.svg
recursive-exclude .github * 
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.svg
recursive-exclude docs/_build *


# support files
recursive-include ocrmypdf/data *
recursive-include share *
include *.py
exclude tasks.py

# code
recursive-include ocrmypdf *.py
exclude ocrmypdf/lib/_leptonica.py
include OCRmyPDF.sh
include docker-wrapper.sh


