# requirements
include requirements.txt
include test_requirements.txt
include dev_requirements.txt

# git
include .git_archival.txt

# docker
include .dockerignore
recursive-include .docker *

# tests
include .coveragerc
recursive-include tests *.jpg
recursive-include tests *.png
recursive-include tests *.pdf
recursive-include tests *.py
recursive-include tests *.rst
recursive-include tests *.txt
recursive-include tests/cache *
recursive-exclude tests/output *
recursive-exclude tests/output_pageinfo *
recursive-exclude tests/resources/private *

# documentation
include LICENSE
include *.rst
recursive-exclude .github * 
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.svg
recursive-exclude docs/_build *


# support files
recursive-include src/ocrmypdf/data *
include *.py
exclude tasks.py
recursive-exclude .travis *
exclude .travis*


# code
recursive-include src/ocrmypdf *.py
exclude ocrmypdf/lib/_leptonica.py



