pytest >= 3.2
pytest-helpers-namespace
pytest-xdist
pytest-cov
python-xmp-toolkit   # requires apt-get install libexempi3
                     # or brew install exempi
PyPDF2 >= 1.26.0
#PyMuPDF == 1.13.4    # optional
